
h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #33342D;
}
.nav {
  background-color: white;
  display: flex;
}

.nav img {
  background-color: #232D2F;
}

#myname {
  font-weight: bolder;
  font-size: 3.2em;
  margin-bottom: 0px;
}

#myrole {
  font-weight: lighter;
  margin-top: 0px;
}

#links {
  list-style: none;
  display: flex;
  padding-left: 100px;

}

#links a {

  color: #232D2F;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px;
  padding-top: 0px;
  display: block;
  border-bottom: solid 1px #232D2F;
}

.descripton {
text-align: center;
}

#logo {
  position: absolute;
  transition: all 600ms;
}

#logo:hover {
  transform: translate(10px);
}

#social {
  text-align: right;
  list-style: none;
  display: flex;
  }

#social a {
  float: right;
  text-decoration: none;
  color: #232D2F;
  font-size: 1.7em;
}

.strip {
  width: 100%;
  background-image: url(img/strip.jpg);
  height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.morecontent {
  margin-top: 20px;
  background-color: grey;
  height: 700px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #myname {
    font-size: 2em;
  }
  #myrole {
    font-size: 1.5em;
  }

  .strip {
    height: 120px;
  }
}
