
h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #33342D;
}
.nav {
  background-color: white;

}

.nav img {
  background-color: #232D2F;
}

#myname {
  font-weight: bolder;
  font-size: 3.2em;
  margin-bottom: 0px;
}

#myrole {
  font-weight: lighter;
  margin-top: 0px;
}

#links {
  list-style: none;
  display: flex;
  padding-left: 100px;

}

#links a {
  color: #232D2F;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px;
  display: block;
  border-bottom: solid 1px #232D2F;
}

.descripton {
text-align: center;
}

#logo {
  position: absolute;
  transition: all 600ms;
}

#logo:hover {
  transform: translate(10px);
}
