
.nav {
  background-color: #E3FBDB;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #526B5C;
}

h1:hover {
  color: #739681;
}

#myname {
  font-weight: bolder;
  font-size: 3.2em;
  margin-bottom: 0px;
}

#myrole {
  font-weight: lighter;
  margin-top: 0px;
}

#links {
  list-style: none;
  display: flex;
  padding-left: 100px;
}

#links a {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px;
  display: block;
}

.descripton {
text-align: center;
}

#logo {
  position: absolute;
  transition: all 1s;
}

#logo:hover {
  transform: translate(20px);
}
